$i: 0;
@for $i from 1 through 10 {
  // padding rules
  .padding-#{$i} {
    padding: $i*10#{px} !important;
  }
  .padding-top-#{$i} {
    padding-top: $i*10#{px} !important;
  }
  .padding-right-#{$i} {
    padding-right: $i*10#{px} !important;
  }
  .padding-bottom-#{$i} {
    padding-bottom: $i*10#{px} !important;
  }
  .padding-left-#{$i} {
    padding-left: $i*10#{px} !important;
  }
  // margin rules
  .margin-#{$i} {
    margin: $i*10#{px} !important;
  }
  .margin-top-#{$i} {
    margin-top: $i*10#{px} !important;
  }
  .margin-right-#{$i} {
    margin-right: $i*10#{px} !important;
  }
  .margin-bottom-#{$i} {
    margin-bottom: $i*10#{px} !important;
  }
  .margin-left-#{$i} {
    margin-left: $i*10#{px} !important;
  }
}
.padding-auto {
  padding: auto !important;
}
.margin-auto {
  margin: auto !important;
}
// text align rules
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-justify {
  text-align: justify !important;
}
ul {
  list-style-type: none;
  li {
    a {
      text-decoration: none;
    }
  }
}
$font-stack: Helvetica, sans-serif;
body, html{
  font: 1rem $font-stack;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
}
